<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StackOverFlow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/StackOverFlow.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container d-flex align-items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StackOverFlow</a>

                <ul class="navbar-nav d-flex flex-row mx-3">
                    <li class="nav-item mx-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">About</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Product</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">For Teams</a>
                    </li>
                </ul>
                <div class="flex-grow-1 ms-3">
                    <input type="text" class="form-control w-100" placeholder="Search ...." />
                </div>
                <a asp-controller="Account" asp-action="SignIn" class="btn btn-primary ms-3">Sign in</a>
                <a asp-controller="Account" asp-action="SignUp" class="btn btn-secondary ms-3">Sign up</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - StackOverFlow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
